@import 'variables', 
	'./bootstrap/fonts.scss',
	'./bootstrap/font-awesome.scss';

.brand-link {
	display: flex;
	justify-content: center;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
	max-height: 500px;
	height: auto;
}